@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my place!</h1>
    <p>This is a JokesWebApp where you can find one of the worst jokes on planet Earth.</p>
</div>
